@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font: 50px;
}
.Highlighter{
    color:orange;

}
.half-width{
    width: 40%;
    float: left;
    margin left:5%;
    padding: 2%;
}
.half-width img{
    width: 60%;
}

